
.listen_holder>.listener{
	width: 80%;
	overflow: scroll;
	padding: 3%;
	display: block;
	margin-top:5%;
	max-width: 600px;
	max-height: 200px;
}
.listen_holder>.listener:hover{
	border: 2px solid blue;

	
}